@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-boxs;
}

:root {
  --cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

body {
  font-size: 18px;
  font-family: 'Bai Jamjuree', sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--dark-grayish-blue);
}

p {
  color: var(--grayish-blue);
  line-height: 1.6;
}

/* Utility Classes */
.btn {
  display: inline-block;
  padding: 12px 30px;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: var(--cyan);
  color: #fff;
}

.btn-primary:hover {
  background-color: hsl(171, 69%, 38%);
}

.btn-secondary {
  background-color: var(--light-blue);
  color: #fff;
}

.btn-secondary:hover {
  background-color: hsl(233, 88%, 61%)
}

/* Header Start */
#header {
  background: url("./images/bg-header-desktop.png") no-repeat center center/cover;
  text-align: center;
  height: 70vh;
}

#header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#header .header-content h1 {
  margin: 3rem 0 1rem;
  font-size: 45px;
}

#header .header-content .download {
  margin-top: 2rem;
}

#header .header-content .download a {
  margin: 0 5px;
}

/* Header End */

/* Snippets Start */
#snippets {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
}

#snippets h2,
#clipboard h2 {
  font-size: 35px;
  text-align: center;
}

#snippets>p,
#clipboard>p {
  text-align: center;
  margin: 30px 0;
}

#snippets .row {
  display: flex;
  margin-top: 3rem;
}

#snippets .row img {
  transform: translateX(-30px);
  margin-right: 4rem;
}

#snippets .row .col .item {
  margin: 50px 0;
}

#snippets .row .col .item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

#snippets .row .col .item p {
  font-size: 16px;
}

/* Snippets End */

/* Clipboard Start */
#clipboard {
  text-align: center;
  padding: 4rem 0;
}

/* Clipboard End */